@mixin size(
  $width,
    $height: $width
  ) {

  @if _is-size($height) {
    height: $height;
  } @else {
    @error '`#{$height}` is not a valid length for the `$height` argument ' +
      'in the `size` mixin.';
  }

  @if _is-size($width) {
    width: $width;
  } @else {
    @error '`#{$width}` is not a valid length for the `$width` argument ' +
      'in the `size` mixin.';
  }
}

/*

WHAT IT DOES:
Creates a size to an element receiving, width and height.

*/
