@import '../constants.scss';
@import '../mixins/mixins.scss';


.ag-shadow-sm {
  box-shadow: $box-shadow-card-sm !important;
}

.ag-input-text {
  border: 0;
  border-bottom: rem(2) solid $gray-03;
  outline: none;
  padding: ($base-gutter * 2);
  background: {
    color: $transparent;
  }

  &:focus {
    border-color: $blue-01;
  }

  &::placeholder {
    color: $gray-05;
    font-size: rem(14);
  }
}

.ag-primary-button {
  border: none;
  border-radius: rem(2);
  padding: rem(10) rem(42);
  text-transform: uppercase;
  font: {
    size: rem(14);
    weight: 500;
  }
}

.ag-bf-btn {
  background: none;
  border: none;
  color: $gray-04;
  font: {
    size: rem(14);
    weight: 400;
  }
}

.ag-text-secondary {
  color: $gray-05 !important;
}


.ag-flex-center {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
}

.ag-c-white {
  color: white;
}

.ag-bg-c-white {
  background-color: white;
}

.ag-reset-button {
  background: none;
  border: 0;
}
