/*
  This file generates margins and paddings helper classes according to
  defined breakpoints.

  I. e.:

  .d-none {
    display: none;
  }

  .d-block-lg {
    display: block;
  }

  Author: @tiagosatur

*/

@each $breakpoint, $breakpoint-value in ($grid-breakpoints) {

  @if($breakpoint-value == 0) {

    @each $display-value in (block, inline-block, none) {
      .d-#{$display-value} {
        display: #{$display-value} !important;
      }
    }

  } @else {

    @media(min-width: $breakpoint-value) {

      @each $display-value in (block, inline-block, none) {

        .d-#{$display-value}-#{$breakpoint} {
          display: #{$display-value} !important;
        }

      }
    }
  }

}
