$black: #000;
$transparent: transparent;
$white: #fff;

$gray-00: #fafafa;
$gray-01: #f5f5f5;
$gray-02: #e6e6e6;
$gray-03: #d8d8d8;
$gray-04: #9e9e9e;
$gray-05: #757575;
$gray-06: #666;
$gray-07: #212121;
$gray-08: #e0e0e0;

$red-00: red;
$red-01: #f44336;
$red-02: #dc3545;

$yellow-00: yellow;

$blue-00: blue;
$blue-01: #1f5f8b;
$blue-02: #1b4f74;

$orange-00: orange;
$orange-01: #ff9313;

$green-00: green;
$green-01: #7ac015;
$green-02: #4caf50;

$purple-00: purple;

$red-orange-00: coral;
$yellow-orange-00: gold;
$yellow-green-00: limegreen;
$blue-green-00: forestgreen;
$blue-purple-00: indigo;
$red-purple-00: mediumvioletred;



$textPrimary: $gray-05;
$iconPrimary: $gray-05;


$num-01: 0.0625rem; //1px
$num-02: 0.125rem;  //2px
$num-03: 0.1875rem; //3px
$num-04: 0.25rem;   //4px
$num-05: 0.3125rem; //5px
$num-06: 0.375rem;  //6px
$num-07: 0.4375rem; //7px
$num-08: 0.5rem;    //8px

$br-01: $num-01;
$br-02: $num-02;
$br-03: $num-03;
$br-04: $num-04;
$br-50: 50%;

$base-gutter: $num-08;


$box-shadow-card-sm: 0 0 $num-04 0 rgba(0, 0, 0, 0.08), 0 $num-02 $num-04 0 rgba(0, 0, 0, 0.16);
$box-shadow-button-sm: 0 0 $num-04 0 rgba(0 , 0, 0, 0.08), 0 $num-02 $num-04 0 rgba(0, 0, 0, 0.16);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
