.wrapper-fluid,
.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.wrapper-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
}

.line {
  -webkit-box-direction: normal;
  -webkit-box-flex: 0;
  -webkit-box-orient: horizontal;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.line.reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.column.reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.column-xs,
.column-xs-1,
.column-xs-2,
.column-xs-3,
.column-xs-4,
.column-xs-5,
.column-xs-6,
.column-xs-7,
.column-xs-8,
.column-xs-9,
.column-xs-10,
.column-xs-11,
.column-xs-12,
.column-xs-offset-0,
.column-xs-offset-1,
.column-xs-offset-2,
.column-xs-offset-3,
.column-xs-offset-4,
.column-xs-offset-5,
.column-xs-offset-6,
.column-xs-offset-7,
.column-xs-offset-8,
.column-xs-offset-9,
.column-xs-offset-10,
.column-xs-offset-11,
.column-xs-offset-12 {
  -webkit-box-flex: 0;
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.column-xs {
  -webkit-box-flex: 1;
  flex-basis: 0;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -ms-flex-preferred-size: 0;
  max-width: 100%;
}

.column-xs-1 {
  flex-basis: 8.33333333%;
  -ms-flex-preferred-size: 8.33333333%;
  max-width: 8.33333333%;
}

.column-xs-2 {
  flex-basis: 16.66666667%;
  -ms-flex-preferred-size: 16.66666667%;
  max-width: 16.66666667%;
}

.column-xs-3 {
  flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  max-width: 25%;
}

.column-xs-4 {
  flex-basis: 33.33333333%;
  -ms-flex-preferred-size: 33.33333333%;
  max-width: 33.33333333%;
}

.column-xs-5 {
  flex-basis: 41.66666667%;
  -ms-flex-preferred-size: 41.66666667%;
  max-width: 41.66666667%;
}

.column-xs-6 {
  flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  max-width: 50%;
}

.column-xs-7 {
  flex-basis: 58.33333333%;
  -ms-flex-preferred-size: 58.33333333%;
  max-width: 58.33333333%;
}

.column-xs-8 {
  flex-basis: 66.66666667%;
  -ms-flex-preferred-size: 66.66666667%;
  max-width: 66.66666667%;
}

.column-xs-9 {
  flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  max-width: 75%;
}

.column-xs-10 {
  flex-basis: 83.33333333%;
  -ms-flex-preferred-size: 83.33333333%;
  max-width: 83.33333333%;
}

.column-xs-11 {
  flex-basis: 91.66666667%;
  -ms-flex-preferred-size: 91.66666667%;
  max-width: 91.66666667%;
}

.column-xs-12 {
  flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  max-width: 100%;
}

.column-xs-offset-0 {
  margin-left: 0;
}

.column-xs-offset-1 {
  margin-left: 8.33333333%;
}

.column-xs-offset-2 {
  margin-left: 16.66666667%;
}

.column-xs-offset-3 {
  margin-left: 25%;
}

.column-xs-offset-4 {
  margin-left: 33.33333333%;
}

.column-xs-offset-5 {
  margin-left: 41.66666667%;
}

.column-xs-offset-6 {
  margin-left: 50%;
}

.column-xs-offset-7 {
  margin-left: 58.33333333%;
}

.column-xs-offset-8 {
  margin-left: 66.66666667%;
}

.column-xs-offset-9 {
  margin-left: 75%;
}

.column-xs-offset-10 {
  margin-left: 83.33333333%;
}

.column-xs-offset-11 {
  margin-left: 91.66666667%;
}

.be-start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.be-center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.be-end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.be-top-xs {
  align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
}

.be-middle-xs {
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.be-bottom-xs {
  align-items: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
}

.be-around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.be-between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.be-first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.be-last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .wrapper {
    width: 49rem;
  }

  .column-sm,
  .column-sm-1,
  .column-sm-2,
  .column-sm-3,
  .column-sm-4,
  .column-sm-5,
  .column-sm-6,
  .column-sm-7,
  .column-sm-8,
  .column-sm-9,
  .column-sm-10,
  .column-sm-11,
  .column-sm-12,
  .column-sm-offset-0,
  .column-sm-offset-1,
  .column-sm-offset-2,
  .column-sm-offset-3,
  .column-sm-offset-4,
  .column-sm-offset-5,
  .column-sm-offset-6,
  .column-sm-offset-7,
  .column-sm-offset-8,
  .column-sm-offset-9,
  .column-sm-offset-10,
  .column-sm-offset-11,
  .column-sm-offset-12 {
    -webkit-box-flex: 0;
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .column-sm {
    -webkit-box-flex: 1;
    flex-basis: 0;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 0;
    max-width: 100%;
  }

  .column-sm-1 {
    flex-basis: 8.33333333%;
    -ms-flex-preferred-size: 8.33333333%;
    max-width: 8.33333333%;
  }

  .column-sm-2 {
    flex-basis: 16.66666667%;
    -ms-flex-preferred-size: 16.66666667%;
    max-width: 16.66666667%;
  }

  .column-sm-3 {
    flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    max-width: 25%;
  }

  .column-sm-4 {
    flex-basis: 33.33333333%;
    -ms-flex-preferred-size: 33.33333333%;
    max-width: 33.33333333%;
  }

  .column-sm-5 {
    flex-basis: 41.66666667%;
    -ms-flex-preferred-size: 41.66666667%;
    max-width: 41.66666667%;
  }

  .column-sm-6 {
    flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    max-width: 50%;
  }

  .column-sm-7 {
    flex-basis: 58.33333333%;
    -ms-flex-preferred-size: 58.33333333%;
    max-width: 58.33333333%;
  }

  .column-sm-8 {
    flex-basis: 66.66666667%;
    -ms-flex-preferred-size: 66.66666667%;
    max-width: 66.66666667%;
  }

  .column-sm-9 {
    flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    max-width: 75%;
  }

  .column-sm-10 {
    flex-basis: 83.33333333%;
    -ms-flex-preferred-size: 83.33333333%;
    max-width: 83.33333333%;
  }

  .column-sm-11 {
    flex-basis: 91.66666667%;
    -ms-flex-preferred-size: 91.66666667%;
    max-width: 91.66666667%;
  }

  .column-sm-12 {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    max-width: 100%;
  }

  .column-sm-offset-0 {
    margin-left: 0;
  }

  .column-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .column-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .column-sm-offset-3 {
    margin-left: 25%;
  }

  .column-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .column-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .column-sm-offset-6 {
    margin-left: 50%;
  }

  .column-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .column-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .column-sm-offset-9 {
    margin-left: 75%;
  }

  .column-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .column-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .be-start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .be-center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .be-end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .be-top-sm {
    align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
  }

  .be-middle-sm {
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }

  .be-bottom-sm {
    align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
  }

  .be-around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .be-between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .be-first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .be-last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 64em) {
  .wrapper {
    width: 65rem;
  }

  .column-md,
  .column-md-1,
  .column-md-2,
  .column-md-3,
  .column-md-4,
  .column-md-5,
  .column-md-6,
  .column-md-7,
  .column-md-8,
  .column-md-9,
  .column-md-10,
  .column-md-11,
  .column-md-12,
  .column-md-offset-0,
  .column-md-offset-1,
  .column-md-offset-2,
  .column-md-offset-3,
  .column-md-offset-4,
  .column-md-offset-5,
  .column-md-offset-6,
  .column-md-offset-7,
  .column-md-offset-8,
  .column-md-offset-9,
  .column-md-offset-10,
  .column-md-offset-11,
  .column-md-offset-12 {
    -webkit-box-flex: 0;
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .column-md {
    -webkit-box-flex: 1;
    flex-basis: 0;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 0;
    max-width: 100%;
  }

  .column-md-1 {
    flex-basis: 8.33333333%;
    -ms-flex-preferred-size: 8.33333333%;
    max-width: 8.33333333%;
  }

  .column-md-2 {
    flex-basis: 16.66666667%;
    -ms-flex-preferred-size: 16.66666667%;
    max-width: 16.66666667%;
  }

  .column-md-3 {
    flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    max-width: 25%;
  }

  .column-md-4 {
    flex-basis: 33.33333333%;
    -ms-flex-preferred-size: 33.33333333%;
    max-width: 33.33333333%;
  }

  .column-md-5 {
    flex-basis: 41.66666667%;
    -ms-flex-preferred-size: 41.66666667%;
    max-width: 41.66666667%;
  }

  .column-md-6 {
    flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    max-width: 50%;
  }

  .column-md-7 {
    flex-basis: 58.33333333%;
    -ms-flex-preferred-size: 58.33333333%;
    max-width: 58.33333333%;
  }

  .column-md-8 {
    flex-basis: 66.66666667%;
    -ms-flex-preferred-size: 66.66666667%;
    max-width: 66.66666667%;
  }

  .column-md-9 {
    flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    max-width: 75%;
  }

  .column-md-10 {
    flex-basis: 83.33333333%;
    -ms-flex-preferred-size: 83.33333333%;
    max-width: 83.33333333%;
  }

  .column-md-11 {
    flex-basis: 91.66666667%;
    -ms-flex-preferred-size: 91.66666667%;
    max-width: 91.66666667%;
  }

  .column-md-12 {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    max-width: 100%;
  }

  .column-md-offset-0 {
    margin-left: 0;
  }

  .column-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .column-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .column-md-offset-3 {
    margin-left: 25%;
  }

  .column-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .column-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .column-md-offset-6 {
    margin-left: 50%;
  }

  .column-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .column-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .column-md-offset-9 {
    margin-left: 75%;
  }

  .column-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .column-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .be-start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .be-center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .be-end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .be-top-md {
    align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
  }

  .be-middle-md {
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }

  .be-bottom-md {
    align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
  }

  .be-around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .be-between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .be-first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .be-last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 75em) {
  .wrapper {
    width: 76rem;
  }

  .column-lg,
  .column-lg-1,
  .column-lg-2,
  .column-lg-3,
  .column-lg-4,
  .column-lg-5,
  .column-lg-6,
  .column-lg-7,
  .column-lg-8,
  .column-lg-9,
  .column-lg-10,
  .column-lg-11,
  .column-lg-12,
  .column-lg-offset-0,
  .column-lg-offset-1,
  .column-lg-offset-2,
  .column-lg-offset-3,
  .column-lg-offset-4,
  .column-lg-offset-5,
  .column-lg-offset-6,
  .column-lg-offset-7,
  .column-lg-offset-8,
  .column-lg-offset-9,
  .column-lg-offset-10,
  .column-lg-offset-11,
  .column-lg-offset-12 {
    -webkit-box-flex: 0;
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .column-lg {
    -webkit-box-flex: 1;
    flex-basis: 0;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 0;
    max-width: 100%;
  }

  .column-lg-1 {
    flex-basis: 8.33333333%;
    -ms-flex-preferred-size: 8.33333333%;
    max-width: 8.33333333%;
  }

  .column-lg-2 {
    flex-basis: 16.66666667%;
    -ms-flex-preferred-size: 16.66666667%;
    max-width: 16.66666667%;
  }

  .column-lg-3 {
    flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    max-width: 25%;
  }

  .column-lg-4 {
    flex-basis: 33.33333333%;
    -ms-flex-preferred-size: 33.33333333%;
    max-width: 33.33333333%;
  }

  .column-lg-5 {
    flex-basis: 41.66666667%;
    -ms-flex-preferred-size: 41.66666667%;
    max-width: 41.66666667%;
  }

  .column-lg-6 {
    flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    max-width: 50%;
  }

  .column-lg-7 {
    flex-basis: 58.33333333%;
    -ms-flex-preferred-size: 58.33333333%;
    max-width: 58.33333333%;
  }

  .column-lg-8 {
    flex-basis: 66.66666667%;
    -ms-flex-preferred-size: 66.66666667%;
    max-width: 66.66666667%;
  }

  .column-lg-9 {
    flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    max-width: 75%;
  }

  .column-lg-10 {
    flex-basis: 83.33333333%;
    -ms-flex-preferred-size: 83.33333333%;
    max-width: 83.33333333%;
  }

  .column-lg-11 {
    flex-basis: 91.66666667%;
    -ms-flex-preferred-size: 91.66666667%;
    max-width: 91.66666667%;
  }

  .column-lg-12 {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    max-width: 100%;
  }

  .column-lg-offset-0 {
    margin-left: 0;
  }

  .column-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .column-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .column-lg-offset-3 {
    margin-left: 25%;
  }

  .column-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .column-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .column-lg-offset-6 {
    margin-left: 50%;
  }

  .column-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .column-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .column-lg-offset-9 {
    margin-left: 75%;
  }

  .column-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .column-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .be-start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .be-center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .be-end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .be-top-lg {
    align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
  }

  .be-middle-lg {
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }

  .be-bottom-lg {
    align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
  }

  .be-around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .be-between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .be-first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .be-last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
